# sphinx configurations
collective.recipe.sphinxbuilder == 0.8.2
Sphinx == 1.2.2
docutils == 0.12
collective.sphinx.includedoc == 0.2
repoze.sphinx.autointerface == 0.7.1
sphinxcontrib-recentpages == 0.7.1
sphinxcontrib-slide == 0.3.0
#sphinxcontrib.infrae == 1.0
